__pycache__/create_super.cpython-310.pyc
__pycache__/manage.cpython-310.pyc
.idea/.gitignore
.idea/eventorar.UPM.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
authentication/__pycache__/__init__.cpython-310.pyc
authentication/__pycache__/admin.cpython-310.pyc
authentication/__pycache__/apps.cpython-310.pyc
authentication/__pycache__/context_processors.cpython-310.pyc
authentication/__pycache__/models.cpython-310.pyc
authentication/__pycache__/urls.cpython-310.pyc
authentication/__pycache__/utilities.cpython-310.pyc
authentication/__pycache__/views.cpython-310.pyc
authentication/migrations/__pycache__/__init__.cpython-310.pyc
authentication/migrations/__pycache__/0001_initial.cpython-310.pyc
authentication/migrations/__pycache__/0002_customuser_gender.cpython-310.pyc
event/__pycache__/__init__.cpython-310.pyc
event/__pycache__/admin.cpython-310.pyc
event/__pycache__/apps.cpython-310.pyc
event/__pycache__/forms.cpython-310.pyc
event/__pycache__/models.cpython-310.pyc
event/__pycache__/signals.cpython-310.pyc
event/__pycache__/tasks.cpython-310.pyc
event/__pycache__/urls.cpython-310.pyc
event/migrations/__pycache__/__init__.cpython-310.pyc
event/migrations/__pycache__/0001_initial.cpython-310.pyc
event/views/__pycache__/__init__.cpython-310.pyc
event/views/__pycache__/adminViews.cpython-310.pyc
event/views/__pycache__/endUserViews.cpython-310.pyc
event/views/__pycache__/eventViews.cpython-310.pyc
event/views/__pycache__/qrCodeViews.cpython-310.pyc
event/views/__pycache__/reportViews.cpython-310.pyc
Eventorar/__pycache__/__init__.cpython-310.pyc
Eventorar/__pycache__/azure_blobs.cpython-310.pyc
Eventorar/__pycache__/celery_app.cpython-310.pyc
Eventorar/__pycache__/logger_settings.cpython-310.pyc
Eventorar/__pycache__/settings.cpython-310.pyc
Eventorar/__pycache__/urls.cpython-310.pyc
Eventorar/__pycache__/wsgi.cpython-310.pyc
.vscode/settings.json
