{% extends "endUserTemplates/base.html" %}
{% load static %}

{% block container %}
    <section class="u-clearfix u-image u-section-1" id="sec-3f72" data-image-width="562" data-image-height="374">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 style="text-transform: uppercase; font-family: Major Mono Display; font-size: 6rem; text-decoration: none !important; width: 754px; margin: 120px auto 60px;" class="u-align-center u-text u-text-body-alt-color u-text-1">Events<span style="font-size: 1.875rem;"></span>
            </h1>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        {% for event in events %}
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-palette-1-light-3 u-radius-19 u-shape-round u-size-20 u-layout-cell-1" style="margin-bottom: 3cm; margin-left: 3cm;">
                            <div class="u-align-center u-container-layout u-valign-middle u-container-layout-1">
                                <a href="{% url 'event:event-detail' pk=event.event.id %}">
                                    <div>
                                        <div class="u-align-center u-border-8 u-border-palette-1-light-2 u-line u-line-horizontal u-line-1"></div>
                                        <h4 class="u-align-center u-text u-text-default u-text-palette-1-dark-2 u-text-2">{{ event.event.name }}</h4>
                                        <h6 class="u-align-center u-text u-text-default u-text-palette-1-dark-2 u-text-2">{{ event.event.date }}</h6>
                                    </div>
                                </a>
                                <form class="u-align-center" method="post" action="{% url 'event:event-register' pk=event.id %}">
                                    {% csrf_token %}
                                    <button class="text-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-base u-radius-50 u-text-body-alt-color u-text-hover-palette-3-base u-btn-2">Register</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="pagination-container" style="text-align: center;">
              {% if is_paginated %}
                  {% include "eventTemplates/crud/pagination.html" %}
              {% endif %}
          </div>
          
          <style>
              .pagination-container ul {
                  display: inline-block;
                  list-style: none;
                  margin: 0;
                  padding: 0;
              }
          
              .pagination-container li {
                  display: inline;
                  margin: 0 5px;
              }
          
              .pagination-container a {
                  color: #333;
                  text-decoration: none;
                  padding: 5px 10px;
                  border: 1px solid #ddd;
                  border-radius: 5px;
              }
          
              .pagination-container .active a {
                  background-color: grey;
                  color: #fff;
                  border-color: #337ab7;
              }
          
              .pagination-container .disabled a {
                  color: #ccc;
                  cursor: not-allowed;
                  background-color: #f9f9f9;
                  border-color: #ddd;
              }
          </style>
          
        </div>
    </section>

    <script type="text/javascript">
        window.addEventListener('pageshow', function(event) {
          // Reload the page when the user navigates back to it
          if (event.persisted) {
            window.location.reload();
          }
        });
                  </script>
{% endblock %}
