{% extends "adminTemplates/base.html" %}
{% load static %}
{% block container %}


 

        <h1 class="u-align-center u-text u-title u-text-1">Created Events<span style="font-size: 1.875rem;"></span>
        </h1>
        
        <table id="myTable" class="table u-align-center" style="font-size:125%">
    
          <tr>
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Event Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Actions</th>
                  </tr>
              </thead>
              <tbody>
        {% for event in events %}
                  <tr>
                      <td ><a style="color: RebeccaPurple;" href="{% url 'event:event-detail' pk=event.id %}">{{event.name}}</a></td>
                      <td>{{event.date}}</td>
                      <td>
                          <div>
                            {% if event.is_published %}
                                <button style="background: RebeccaPurple; color:black; cursor: not-allowed; opacity: 0.6;"><a>Publish</a></button>
                                <br><br>
                                    
                                <a href="{% url 'event:event-update' pk=event.id %}" class="edit" title="Edit" data-toggle="tooltip"><button style="color:RebeccaPurple" class="material-icons">&#xE254;</button></a>
                                <br><br>     
                                <a class="delete" title="Delete" data-toggle="tooltip"><button style="cursor: not-allowed; opacity: 0.6;" class="material-icons">&#xE872;</button></a>  
        
                            {% else %}
                                <a href="{% url 'event:event-publish' pk=event.id %}"><button style="background: RebeccaPurple; color: white;" >Publish</button></a>
                                <br> <br>
                                <a href="{% url 'event:event-update' pk=event.id %}" class="edit" title="Edit" data-toggle="tooltip"><button style="color:RebeccaPurple" class="material-icons">&#xE254;</button></a>
                        
                                <br> <br>
                                <a href="{% url 'event:event-delete' pk=event.id %}" class="delete" title="Delete" data-toggle="tooltip"><button style="color:#C70039" class="material-icons">&#xE872;</button></a>
                            {% endif %}
               
        {% endfor %}
      </div>
      </td>
      </tr>
      </tbody>

        </table>
        <div class="u-clearfix u-sheet u-sheet-2">
          
          
              <div class="col-sm-4">
                <a style="color:RebeccaPurple" href="{% url 'event:event-create' %}"><i class="fa fa-plus"></i>   Create a new event</a> 
      </div>
      
                  {% if is_paginated %}
                      {% include "eventTemplates/crud/pagination.html" %}
                  {% endif %}
                
             
      </div>
    </div>
  
    
    <script>
      function myFunction() {
          // Declare variables 
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          var visibleRows = 0;
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[0];
              if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                      visibleRows++;
                  } else {
                      tr[i].style.display = "none";
                  }
              } 
          }
      
          // If no rows are visible after filtering, hide the pagination
          var pagination = document.getElementById("pagination");
          if (pagination) {
              if (visibleRows == 0) {
                  pagination.style.display = "none";
              } else {
                  pagination.style.display = "";
              }
          }
      }
      </script>
        <br> 
    

{% endblock %}