{% extends "eventTemplates/crud/base.html" %}

{% block container %}
<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Date of Publication</th>
                <th scope="col">Audience</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td><a href="{% url 'event:event-detail' pk=event.event.id %}">{{event.event.name}}</a></td>
                <td>{{event.date_of_publication}}</td>
                <td>{{event.target_audience}}</td>
                <td>
                        <div>
                            <a href="{% url 'event:event-update' pk=event.event.id %}"><button>Edit</button></a>
                            <a href=""><button>Unpublish</button></a>
                    </div>
                </td>
            </tr>
             {% endfor %}
        </tbody>
</table>
{% if is_paginated %}
    {% include "eventTemplates/crud/pagination.html" %}
{% endif %}

{% endblock %}