{% extends "eventTemplates/crud/base.html" %}
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 
{% block container %}

<h1 class="u-align-center u-text u-title u-text-1">Published Events<span style="font-size: 1.875rem;"></span>
</h1>


<table class="table u-align-center" style="font-size:125%">
    <tr>
        <thead class="thead-light">
            <tr>
                <th class="u-align-center" scope="col">Event Title</th>
                <th class="u-align-center" scope="col">Event Date</th>
                <th class="u-align-center" scope="col">Date of Publication</th>
                <th class="u-align-center" scope="col">Audience</th>
                <th class="u-align-center" scope="col">Actions</th>
                <th class="u-align-center" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                  <div>
                    <a style="color: RebeccaPurple;" href="{% url 'event:event-detail' pk=event.event.id %}">{{event.event.name}}</a>
                    <br>
                    
                    <i class="fa" style="font-size:25px; color:grey;">&#xf2bd; {{event.count}}</i>
                  </div>
                </td> 
                <td>{{event.event.date}}</td>
                <td>{{event.date_of_publication}}</td>
                <td>{{event.target_audience}}</td>
                <td>
                        <div>
                            <a href="{% url 'event:event-update' pk=event.event.id %}" class="edit" title="Edit" data-toggle="tooltip"><button style="color:RebeccaPurple" class="material-icons">&#xE254;</button></a>
                           <br>
                            <a href="{% url 'event:event-unpublish' pk=event.id %}"><button style="background: RebeccaPurple; color: white;">Unpublish</button></a>
                    </div>
                    
                </td>

                <td>
                    <div>
                        <form method="post" action="{% url 'event:registrants-list' pk=event.id %}" target="_blank">
                            {% csrf_token %}
                            <br>
                        <button style="background:lightgrey; color: RebeccaPurple; border:none;" class="u-radius-50">Registrants</button>
                        </form>
                    </div>
                </td>

            </tr>
             {% endfor %}
        </tbody>
</table>
{% if is_paginated %}
    {% include "eventTemplates/crud/pagination.html" %}
{% endif %}

<script type="text/javascript">
    window.addEventListener('pageshow', function(event) {
      // Reload the page when the user navigates back to it
      if (event.persisted) {
        window.location.reload();
      }
    });
              </script>

{% endblock %}