{% extends "eventTemplates/crud/base.html" %}

{% block container %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

        <table id="myTable">

        </table>

        <script>
        $(document).ready(function() {
        $('#myTable').DataTable();
        });
        </script>
<table id="myTable" class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td><a href="{% url 'event:event-detail' pk=event.id %}">{{event.name}}</a></td>
                <td>{{event.date}}</td>
                <td>
                    {% if event.is_published %}
                        <div>
                            <button disabled>Edit</button>
                            <button disabled>Publish</button>
                            <button disabled>Delete</button>
                    {% else %}

                            <a href="{% url 'event:event-update' pk=event.id %}"><button>Edit</button></a>
                            <a href="{% url 'event:event-publish' pk=event.id %}"><button>Publish</button></a>
                            <a style="color: red;" href="{% url 'event:event-delete' pk=event.id %}"><button>Delete</button></a>
                    {% endif %}

                    </div>
                </td>
            </tr>
             {% endfor %}
        </tbody>
</table>
<a href="{% url 'event:event-create' %}">Create a new event</a>
{% if is_paginated %}
    {% include "eventTemplates/crud/pagination.html" %}
{% endif %}

{% endblock %}