
{% load static %}

<link rel="stylesheet" href="{% static 'css/CRUD.css' %}">

<div id="pagination"> 
<nav aria-label="navigation">
    <ul class="pagination justify-content-end mb-0">
        <div class="pagination">
{% if page_obj.has_previous %}
    <li class="page-item">
        <a style="color:RebeccaPurple" href="?page={{ page_obj.previous_page_number }}">
            <i class="material-icons">&#8249;</i>
            <span aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </li>
{% else %}
    <li class="page-item disabled">
        <a style="color:RebeccaPurple" href="#">
            <i class="material-icons">&#8249;</i>
            <span aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </li>
{% endif %}

{% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active">
        <a style="color:RebeccaPurple" href="?page={{ i }}">{{ page_obj.number }}</a>
        <i class="material-icons"></i>
      </li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
    <li class="page-item">
        <a style="color:RebeccaPurple" href="?page={{ i }}">{{ i }}</a>
      </li>
      <i class="material-icons"></i>
    {% endif %}
{% endfor %}

{% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
    <li class="page-item"><a style="color:RebeccaPurple"  href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if page_obj.has_next %}
    <li class="page-item">
        <a style="color:RebeccaPurple"  href="?page={{ page_obj.next_page_number }}">
          <i class="material-icons">&#8250;</i>
          <span class="sr-only"></span>
        </a>
      </li>
{% else %}
    <li class="page-item disabled">
        <a style="color:RebeccaPurple"  href="#">
            <i class="material-icons">&#8250;</i>
            <span class="sr-only"></span>
        </a>
    </li>
{% endif %}
</ul>
</nav>
</div> 
</div> 
