{% extends "eventTemplates/crud/base.html" %}
{% block container %}
<html lang="en">
<head>
    <title>Semester Report</title>
</head>
    <h3>Semester Report</h3>
    <h6>Select The Acad Semester</h6>

    <form action="{% url 'event:semester-report' %}" method="post">         
        {% csrf_token %}
       <select name="option">
            {% for semester in semesters %}
              <option value="{{semester}}" id="event" name="event">{{ semester }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="submit">
    </form>
</html>
{% endblock %}