{% extends "eventTemplates/crud/base.html" %}
{% block container %}
<html lang="en">
<head>
    <title>Semester Report</title>
</head>
<div class="card u-align-center">
    <h2 style="font-size:190%; color:RebeccaPurple;">Semester Report</h2>
    <h4>Select The Acad Semester</h4>

    <form action="{% url 'event:semester-report' %}" method="post" target="_blank">         
        {% csrf_token %}
       <select name="option">
            {% for semester in semesters %}
              <option value="{{semester}}" id="event" name="event">{{ semester }}</option>
            {% endfor %}
        </select>

        <input style="height:50px;width:100px; font-weight:bold; font-size:100%;" type="submit" value="submit">
    </form>
</div> 
</html>
{% endblock %}