{% extends "eventTemplates/crud/base.html" %}
{% block container %}
<html lang="en">
<head>
    <title>Organizer Report</title>
</head>
<div class="card u-align-center">
    <h2 style="font-size:190%; color:RebeccaPurple;">Organizer Report</h2>
    <h4>Select Organizer</h4>

    <form action="{% url 'event:organizer-report' %}" method="post" target="_blank">         
        {% csrf_token %}
       <select name="option">
            {% for organizer in organizers %}
              <option value="{{organizer}}" id="event" name="event">{{ organizer }}</option>
            {% endfor %}
        </select>

        <input style="height:50px;width:100px; font-weight:bold; font-size:100%;" type="submit" value="submit">
    </form>
    
</html>
</div>
{% endblock %}