{% extends "eventTemplates/crud/base.html" %}
{% block container %}
<html lang="en">
<head>
    <title>Organizer Report</title>
</head>
    <h3>Organizer Report</h3>
    <h6>Select Organizer</h6>

    <form action="{% url 'event:organizer-report' %}" method="post" target="_blank">         
        {% csrf_token %}
       <select name="option">
            {% for organizer in organizers %}
              <option value="{{organizer}}" id="event" name="event">{{ organizer }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="submit">
    </form>
</html>
{% endblock %}